In [2]:
import pandas as pd
import scipy 
import numpy as np
from scipy import stats
from scipy.stats import norm

In [3]:
df=pd.read_csv("Costomer+OrderForm.csv")

In [6]:
df

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [7]:
print(df['Phillippines'].value_counts(),
      df['Indonesia'].value_counts(),
      df['Malta'].value_counts(),
      df['India'].value_counts())

Error Free    271
Defective      29
Name: Phillippines, dtype: int64 Error Free    267
Defective      33
Name: Indonesia, dtype: int64 Error Free    269
Defective      31
Name: Malta, dtype: int64 Error Free    280
Defective      20
Name: India, dtype: int64

In [9]:
df['Phillippines'].value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [12]:
# Make dimensional array
data=np.array([[271,267,269,280],[29,33,31,20]])

In [13]:
data

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [15]:
# Chi2 contingency independence test
stats.chi2_contingency(data)

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))


# 2 tail test

In [17]:
Error_Free=pd.Series([271, 267, 269, 280])
Defective=pd.Series([ 29,  33,  31,  20])

In [18]:
stats.ttest_ind( Error_Free,Defective)

Ttest_indResult(statistic=60.02138859279744, pvalue=1.437376025121072e-09)